.addCard{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 95%;
    background-color: rgba(255,255,255,1);
    top: 2%;
    left: 25%;
    border-radius: 5px;
}

.addCardHeader{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addCardClose{
    cursor: pointer;
}

.addCardContent{
    width: 100%;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
}

.inputSection{
    width: 55%;
    height: 100%;
    border-right: 2px solid rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 10px 15px;
}

.inputContainer{
    margin-top: 10px;
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputLabel{
    /* font-weight: bold; */
    font-size: 1rem;
    margin-bottom: 5px;
    /* display: flex;
    align-items: center; */
}

.inputText{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 5px;
    border-radius: 5px;
    background-color: rgb(247, 251, 254);
}

.dabbleInputContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.checkBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    /* border: 1px solid red; */
    margin-top: 10px;
}

.checkBoxInput{
    margin-left: 5px;
    width: 15px;
    height: 15px;
    transform: translateY(-2px);
}

.tableContainer{
    display:block;
    overflow-y: scroll;
    width: 100%;
    margin-top: 10px;
}

/* width */
.tableContainer::-webkit-scrollbar {
    width: 5px;
}

.table{
    width: 100%;
    height: 200px;
    /* border: 1px solid blue; */
    overflow: scroll;
}

thead{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background-color: rgb(247, 251, 254);
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.7);
    font-weight: bold;
}

tbody{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

tr{
    width: 100%;
    margin-bottom: 5px;
    height: 50px;
}

td{
    /* border: 1px solid green; */
    width: 25% !important;
}

td:first-child .tdContent {
   color: rgba(0,0,0,0.9) !important; 
   font-size: 0.9rem;
}

.tdContent{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

th{
    width: 25%;
}

.inputTable{
    width: 30px;
    height: 20px;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 2px 3px;
}

.ProductsSection{
    width: 45%;
    height: 100%;
    /* border: 1px solid red; */
}

.productsContainer{
    box-sizing: border-box;
    padding: 10px;
    height: fit-content;
    width: 100%;
    /* border: 1px solid blue; */
}

.productsInfo{
    border: 1px solid rgba(0,0,0, 0.5);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 5px;
}

.productsInfo p{
    margin-bottom: 10px;
}

.productsInfo p:last-child {
    margin-bottom: 0;
}

.productsSummary p{
    margin-top: 10px;
    font-weight: bold;
}